<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  <url>
    <loc>https://awizemann.github.io/scarf/</loc>
    <lastmod>{{LASTMOD}}</lastmod>
    <changefreq>monthly</changefreq>
    <priority>1.0</priority>
  </url>
  <url>
    <loc>https://awizemann.github.io/scarf/templates/</loc>
    <lastmod>{{LASTMOD}}</lastmod>
    <changefreq>weekly</changefreq>
    <priority>0.8</priority>
  </url>
{{TEMPLATE_URLS}}
</urlset>
